// ==========================================================================
// Jetpack Connection Page
//===========================================================================

	#jetpack-disconnect-content {
		display: none;
	}

	.connection-details {
		border: 1px #ddd solid;

		.disconnect {
			border-top: 1px #ddd solid;
		}

		.user-01, .wpuser-02 {
			padding: 12px;
		}

		h3 {
			padding: 10px;
			margin: 0;
			background: #eee;
			border-bottom: 1px #ddd solid;
			font-size: 14px;
		}

	} // .connection-details

	.jp-user div,
	.wp-user div {
		display: inline-block;
		width: 100%;
	}

	.j-col.jp-user,
	.j-col.wp-user {
		padding: 0;
	}

	.jp-user {
		border-right: 1px #ddd solid;
	}

	.j-actions .button:nth-child(3) {
		margin-right: 5px;
	}

	@media screen and (max-width: 500px) {

		.connection-details {
			font-size: 11px;

			h3 {
				font-size: 12px;
				padding: 5px;
			}

			.user-01, .wpuser-02 {
				padding: 6px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
		 		max-width: 100px;
			}
		} // .connection-details
	}

	@media screen and (max-width: 450px) {

		.j-actions .button {
			width: 100%;
			margin-bottom: 5px;
			text-align: center;
			&.alignright {
				float: none;
			}
		}
	}