// ==========================================================================
// Jetpack Connection Page
//===========================================================================

	#jetpack-disconnect-content {
		display: none;
	}

	.connection-details {
		border: 1px #ddd solid;

		&.local-user {
			margin-bottom: 15px;
		}

		.disconnect {
			border-top: 1px #ddd solid;
		}

		.user-01, 
		.wpuser-02, 
		.action-btns {
			padding: 12px;
		}

		.wpuser-02 {
			margin-top: 10px;
		}

		h3 {
			padding: 10px;
			margin: 0;
			background: #eee;
			border-bottom: 1px #ddd solid;
			font-size: 14px;
		}

	} // .connection-details

	.jp-user {
		img {
			margin-right: 10px;
		}
	}

	.jp-user,
	.wp-user,
	.wp-action {

		div {
			display: inline-block;
			width: 100%;
		}

		/*.user-01 {
			position: relative;

			div {
				display: inline-block;
				position: absolute;
				top: 50%;
				-ms-transform: translate(0,-50%);
				-webkit-transform: translate(0,-50%);
				transform: translate(0,-50%);
			}
		} */
	}

	.j-col.jp-user,
	.j-col.wp-user,
	.j-col.wp-action {
		padding: 0;
		//min-height: 100px;
	}

	.jp-user, .wp-user {
		border-right: 1px #ddd solid;
	}

	.j-actions .button:nth-child(3) {
		margin-right: 5px;
	}

	@media screen and (max-width: 500px) {

		.connection-details {
			font-size: 11px;

			h3 {
				font-size: 12px;
				padding: 5px;
			}

			.user-01, .wpuser-02 {
				padding: 6px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 200px;
			}
		} // .connection-details
	}

	@media screen and (max-width: 450px) {

		.j-actions .button {
			width: 100%;
			margin-bottom: 5px;
			text-align: center;
			&.alignright {
				float: none;
			}
		}
	}

	@media screen and (max-width: 350px) {
		.user-01, .wpuser-02 {
	 		max-width: 100px;
		}
	}