// ==========================================================================
// Jetpack Colors
// ==========================================================================

$green: #639b34; // Jetpack auxillary green
$white: #fff;
$clouds: #f9f9f9;
$lightblue: #2ea2cc;
$red: #d94f4f;
